@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text2: #ffffff;
    --text: #193948;
    --opacity: #397e9f;
    --black: #000000;
    --pink: #E76268;
    --blue: #4FADD0;
    --yellow: #FCDC73; 
    --font1: "Roboto", sans-serif;
    --font2: "Poppins", sans-serif;
}

body{
    font-size: 16px;
    background-color: var(--yellow);
    font-family: var(--font1);
    color: var(--text);
    /* position: relative;
    overflow-x: hidden; */
}

.container{
    width: 80%;
    height: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--yellow);
}

a:hover{
    color: var(--text2);
    text-decoration: underline var(--yellow);
}

header{
    height: 12vh;
    width: 100%;
    padding: 10px 8%;
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    filter: drop-shadow(2px 2px 5px var(--opacity));
    z-index: 9;
}

header .bar{
    display: none;
}

header .bar .fa-close{
    display: none;
    font-size: 22px;
    cursor: pointer;
}

header .bar img{
    background-color: var(--yellow);
    width: 25px;
    cursor: pointer;
}

.menu-bar{
    display: none;
    height: max-content;
    width: 75%;
    padding: 50px 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #193948;
    z-index: 999;
    color: var(--yellow);
    position: absolute;
    right: 47px;
    top: 90px;
    filter: drop-shadow(2px 2px 5px var(--opacity));
    border-radius: 5px;
}

.menu-bar ul{
    border-bottom: 1px solid var(--yellow);
}

.menu-bar li{
    padding: 20px;
    list-style: none;
}

.menu-bar li a{
    font-size: 20px;
}

.menu-bar li a:hover{
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--text);
    padding: 12px 45px;
    border-radius: 5px;
    outline: none;
}

.menu-bar .searchcart{
    margin-top: 10px;
}

.menu-bar .searchcart h3{
    margin-top: 20px;
    background-color: var(--yellow);
    color: var(--text);
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-bar .searchcart h3:hover{
    background-color: var(--text2);
    color: var(--text);
}

 header .main-logo{ 
    width:35px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 5px;
    border-radius: 5px;
} 

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font2);
}

header nav ul{
    display: flex;
}   

header nav ul li{
    padding: 0 20px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--yellow); 
}

header nav ul li a:hover{
    color: var(--text2);
    text-decoration: underline var(--yellow);
}

header .others{
    display: flex;
}

header .others .fa{
    padding: 20px;
    color: var(--yellow);
}

header .others .fa:hover{
    color: var(--text2);
}

#about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:130px 30px 80px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text);
}

#about h1{
    margin-bottom: 5px;
}

#about .p1{
    font-weight: bold;
}

#about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .container .p{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
}

#about .container .box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 10px;
    border-radius: 30px;
    color: hsl(13, 100%, 96%);
}

#about .container .box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#about .container .box .card{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: var(--text);
padding: 20px 20px;
border-radius: 30px;
}

#about .container .box .card p{
line-height: 1.2rem;
margin-top: 30px;
}

#about .container .box .card img{
width: 50px;
border-radius: 50%;
margin-bottom: 30px;
}

#contact{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url() var(--text);
    color: var(--yellow);
}

#contact .container{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 90px 0;
    grid-gap: 0;
}

#contact .container h2{
    margin-bottom: 12px;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--text2);
} 

#contact .container .contact1{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: aqua; */
}

#contact .container .contact1 li{
    padding-top: 8px;
} 


#contact .container .contact2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: #f2c2c2; */
}

#contact .container .contact2 .phone{
    margin-bottom: 5px;
}

#contact .container .contact2 i{
    font-size: 12px;
    margin-bottom: 2px;
}

#contact .container .contact3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background-color: #E76268; */
}

#contact .container .contact3 ul li a img{
    width: 13px;
    margin-right: 5px;
}

#contact .container .contact3 h2{
    margin-bottom: 12px;
    text-transform: capitalize;
    font-size: 18px;
} 

#contact .container .contact3 li{
    padding-top: 8px;
} 

#contact .container .contact4{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#contact .container .contact4 p{
}
